{% import "_utilities/button.twig" as button %}

<section class="flex flex-col gap-10 my-10 md:my-14 lg:my-16">
    {% set cards = entry.card.all() %}

    {% for card in cards %}
        <div class="shadow-section flex flex-col lg:flex-row lg:items-stretch w-full bg-white rounded-md overflow-hidden">
            {% set cardImage = card.image.one() %}
            <div class="w-full max-h-60 lg:max-h-full relative {{ cardImage ? 'lg:w-[244px]' : 'lg:w-[72px] w-full h-[58px] lg:h-auto bg-vividBlue' }}">
                {% if cardImage %}
                    <img src="{{ card.image.one().url }}" alt="{{ card.title }}"
                         class="w-full h-full max-h-60 lg:max-h-full object-cover rounded-t-[6px] lg:rounded-tr-[0px] lg:rounded-l-[6px]">
                {% endif %}

                <div class="absolute inset-0 bg-vividBlue/60 z-10 h-full w-full rounded-t-[6px] lg:rounded-tr-[0px] lg:rounded-l-[6px] {{ cardImage ? "block" : "hidden" }}"
                     style="background-color: {{ card.overlayColor }}; opacity: {{ card.overlayOpacity }}%;">
                </div>

                <div class="h-16 w-16 rounded-full bg-white flex justify-center items-center absolute -bottom-[32px] left-1/2 -translate-x-1/2 lg:-translate-x-0 lg:left-auto lg:top-[37px] lg:-right-[32px] z-10">
                    <img src="/assets/icons/tennis-ball-icon.png" alt="Tennis Ball Icon">
                </div>
            </div>

            <div class="w-full flex flex-col justify-between {{ cardImage ? 'lg:w-[calc(100%-244px)]' : 'lg:w-[calc(100%-72px)]' }}">
                <div class="px-[30px] pt-[54px] lg:pt-12 lg:pl-[59px] lg:pr-[42px]">
                    <div class="flex flex-col lg:flex-row items-center gap-1 lg:gap-[21px] lg:pt-0.5">
                        <h2 class="font-black text-primary after:content-none m-0 p-0 leading-10">
                            {{ card.title }}
                        </h2>

                        {# Subtitle #}
                        {% if card.subtitle %}
                            <div class="mt-0 font-primary text-lg font-bold leading-10 italic text-vividBlue text-center lg:text-left lg:text-base [&>p]:last-of-type:mb-0">
                                {{ card.subtitle }}
                            </div>
                        {% endif %}
                    </div>

                    {# Table loop #}
                    {% if card.tableRows.all() %}
                    <div class="mt-[15px] lg:mt-[34px] ml-0 mb-0 flex flex-col items-center lg:items-start gap-3 lg:gap-[20px] text-center lg:text-start [& p]:m-0 [& p]:p-0">
                        <table class="w-full max-w-[480px]">
                            <thead class="hidden lg:table-header-group">
                                <tr class="text-left">
                                    <th class="border-b border-solid border-vividBlue/40 text-bold text-base text-left pb-3 pr-3">{{ card.tableHeader1 }}</th>
                                    <th class="border-b border-solid border-vividBlue/40 text-bold text-base text-left pb-3 pr-3">{{ card.tableHeader2 }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in card.tableRows.all() %}
                                <tr class="block lg:table-row text-center lg:text-left">
                                    <td class="block lg:table-cell font-primary text-base text-black border-0 lg:border-b border-solid border-vividBlue/40 pt-3 pb-0 pr-3 lg:py-3">{{ item.title }}</td>
                                    <td class="block lg:table-cell font-primary text-base text-black border-b border-solid border-vividBlue/40 pt-0 pb-3 lg:py-3">{{ item.column2 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    {# Intro text #}
                    {% if card.introText %}
                        <div class="mt-[25px] lg:mt-[34px] font-primary text-base text-black text-center lg:text-left [&>p]:text-base [&>p]:font-primary [&>p]:font-normal [&>p]:leading-normal [&>p]:text-black [&>p]:last-of-type:mb-0">
                            {{ card.introText }}
                        </div>
                    {% endif %}

                    {# Features loop #}
                    {% if card.features.all() %}
                    <ul class="mt-[15px] lg:mt-[34px] ml-0 mb-0 text-base flex flex-col items-center lg:items-start text-center lg:text-start gap-3 lg:gap-[20px] [& p]:m-0 [& p]:p-0">
                        {% for item in card.features.all() %}
                            {% set nestedList = item.nestedList.all() %}
                            <li class="font-primary text-base text-black flex flex-col gap-3 lg:gap-[20px] m-0 p-0">
                                <div class="flex items-center gap-[13px]">
                                    <span class="hidden lg:inline-flex items-center justify-center">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M16.576 0.349761C15.2371 -0.395068 13.5507 0.0894864 12.8099 1.42547L7.66893 10.6763L4.72666 7.73437C3.64529 6.65312 1.8924 6.65312 0.811027 7.73437C-0.270342 8.81562 -0.270342 10.5683 0.811027 11.6496L6.34941 17.1873C6.87279 17.712 7.57893 18 8.30723 18L8.69076 17.9723C9.5506 17.8519 10.3052 17.3355 10.7275 16.5754L17.6505 4.11544C18.394 2.77807 17.9122 1.09321 16.576 0.349761Z"
                                                fill="#0072BC"/>
                                        </svg>
                                    </span>
                                    {{ item.title }}
                                </div>

                                {% if nestedList %}
                                    <ul class="ml-0 lg:ml-12 list-none lg:list-disc marker:text-vividBlue mt-0 mb-0 flex flex-col gap-3 lg:gap-[20px]">
                                        {% for nestedItem in nestedList %}
                                            <li class="font-primary text-black text-base marker:text-vividBlue m-0">{{ nestedItem.title }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {# Small Print #}
                    {% if card.smallPrint %}
                    <div class="mt-[25px] lg:mt-[34px] ml-0 mb-0 flex flex-col items-center lg:items-start gap-3 lg:gap-[20px] text-center lg:text-start [&>p]:m-0 [&>p]:p-0 [&>p]:text-sm [&>p]:font-primary [&>p]:font-normal [&>p]:leading-normal [&>p]:text-black">
                        {{ card.smallPrint }}
                    </div>
                    {% endif %}
                </div>

                <div class="w-full bg-lightBlue gap-[21px] mt-[37px] py-11 px-5 lg:pl-[50px] xl:pl-[60px] lg:pr-10 lg:pt-[31px] lg:pb-[29px] flex flex-col lg:flex-row items-center justify-between rounded-br-[6px] rounded-bl-[6px] lg:rounded-bl-[0px]">
                    <div class="flex flex-col lg:flex-row gap-[21px] items-center pb-3 lg:pb-0">
                        <div class="text-base font-bold leading-normal text-black">
                            {{ card.costText }}
                        </div>

                        <div class="flex flex-col sm:flex-row gap-[12px] lg:gap-[15px]">
                            {% for item in card.costs.all() %}
                                <div class="font-primary text-base text-black bg-white px-4 py-2 md:px-6 md:py-2 xl:px-6 xl:py-3 rounded-[52px] inline-flex items-center justify-center">
                                    {{ item.title }} <span class="font-bold">&nbsp;{{ item.costAmount }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% if card.button %}
                    {{ button.button( variant = 'primary', size = 'md', label = card.button.label|raw, url = card.button.url ) }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</section>