{% set global = craft.entries.section('global').one() %}
{% set flashes = craft.app.session.getAllFlashes(true) %}

<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta name="HandheldFriendly" content="True"/>
		<meta name="MobileOptimized" content="320"/>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<link rel="icon" type="image/png" href="/assets/icons/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg" />
		<link rel="shortcut icon" href="/assets/icons/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="MPAud" />
		<link rel="manifest" href="/site.webmanifest" />		
		<meta charset="utf-8"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link href="{{ siteUrl('css/output.css') }}" rel="stylesheet">
	</head>

	<body class="flex flex-col min-h-screen body--{{ entry.slug }}">
		<a href="#main" class="transition left-0 absolute p-3 m-3 -translate-y-16 focus:translate-y-0 bg-slate-50">Skip to main content</a>

		{% block header %}
			{% include "_partials/header" %}
		{% endblock %}
		
		{% if flashes|length %}
			<div class="bg-red-600 text-slate-50 text-center">
				{% for level, flash in flashes %}
					<p class="{{ level }} container mx-auto p-2 text-md">{{ flash }}</p>
				{% endfor %}
			</div>
		{% endif %}

		<main class="page {{ entry.slug }} flex-grow" id="main" tabindex="-1">
			{% block content %}{% endblock %}
		</main>
		
		{% block footer %}
			{% include "_partials/footer" %}
		{% endblock %}			

		{# Alpine.js UI #}
		<script src="https://unpkg.com/@alpinejs/ui@3.14.9/dist/cdn.min.js"></script>

		{# Main JS #}
		<script src="{{ siteUrl('dist/main.min.js') }}"></script>
	</body>
</html>
